{% extends 'base.html' %}
<style>
        .center_clean {
            margin: auto;
            width: 70%;
            padding: 15px ;
            text-align: center;
<!--        }-->
<!--        .header {-->
<!--            padding: 1000px;-->
<!--            text-align: center;-->
<!--            background: #FFE4C4;-->
<!--            color: black;-->
<!--            font-size: 60 px;-->
<!--        }-->




</style>



{% block header %}

    <p>Logowanie</p>
{% endblock %}


{% block content %}




    <div class="center">

        <form method="post" class="login-form" >
            {% csrf_token %}
            {{ form }}
            <br>
            <br>
                 <button type="submit" class="btn btn-elegant">login</button>
        </form>
    </div>

<!--    <div class="center_clean">-->
<!--        <form method="post" class="form-group">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <button type="submit" class="btn btn-success">login</button>-->
<!--        </form>-->
<!--    </div>-->

{% endblock %}