{% extends 'base.html' %}
{% block header %}
    <h1>Cyber It Hub</h1>
    <p>Rejestracja</p>
{% endblock %}
{% block content %}
<style>
.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;

  input {
    color: white;
  }
}



</style>
<div class="center">
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form }}
        {{ profile_form }}
        <br>
        <br>
        <button type="submit" class="btn btn-elegant">zarejestruj </button>
    </form>
    </div>
{% endblock %}
