{% extends 'base.html' %}
{% block header %}
    <h1>Cyber It Hub</h1>
    <p>Moduły</p>
{% endblock %}
{% block content %}
    <nav class="nav justify-content-center">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/user/{{user.id}}/">Sprawdź swoje konto</a></li>
            <li class="nav-item"><a class="nav-link active" href="/apps/{{ user.id }}">Twoje moduły</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Płatności</a></li>
            </ul>

    </nav>

{% endblock %}
{% block inside %}
<style>
        .center_clean {
        margin: auto;
        width: 70%;
        padding: 15px ;
        text-align: left;
        }

</style>
    <div class="center_clean">
        <h3>Wszystkie usługi:</h3>

        <div class="table-responsive">
             <table class="table">
                 <tr>
                     <th scope="col">Nazwa narzędzia</th>
                     <th scope="col">Opis narzędzia</th>
                     <th scope="col">Link do narzędzia</th>
                 </tr>
                 {%  for app in apps %}
                 <tr>
                <td>{{ app.name }}</td>
                <td>{{ app.content }}</td>
                <td> <a href="/{{ app.link }}">{{ app.link }}</a></td>
                </tr>
            {%  endfor %}
             </table>
        </div>
        </ul>
            <br>
        <h3>Twoje usługi:</h3>
        <div class="table-responsive">
             <table class="table">
                 <tr>
                     <th scope="col">Nazwa narzędzia</th>
                     <th scope="col">Opis narzędzia</th>
                     <th scope="col">Link do narzędzia</th>
                 </tr>
                 {%  for name_app in name_apps %}
                 <tr>
                <td>{{ name_app.name }}</td>
                <td>{{ name_app.content }}</td>
                <td> <a href="/{{ name_app.link }}">{{ name_app.link }}</a></td>
                </tr>
                 {%  endfor %}
             </table>
    </div>
        <form class="center">
            <input type="button" value="cofnij" class="btn btn-elegant" onclick="history.back()">
        </form>
{% endblock %}