{% extends 'base.html' %}
{% block header %}
    <h1>Cyber It Hub</h1>
    <p>Moduły</p>
{% endblock %}
{% block content %}
    <nav class="nav justify-content-center">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/user/{{user.id}}/">Sprawdź swoje konto</a></li>
            <li class="nav-item"><a class="nav-link active" href="/apps/{{ user.id }}">Twoje moduły</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Płatności</a></li>
            </ul>

    </nav>

{% endblock %}
{% block inside %}
<style>
        .center_clean {
        margin: auto;
        width: 70%;
        padding: 15px ;
        text-align: center;
        }

</style>
    <div class="center_clean">
        <h3>Wszystkie usługi:</h3>
        {%  for app in apps %}
                <p>{{ app.name }}</p>
                <p>{{ app.content }}</p>
                <p> <a href="/{{ app.link }}">{{ app.link }}</a></p>
                <hr>
            {%  endfor %}
        </ul>
            <br>
        <h3>Twoje usługi:</h3>
        {%  for name_app in name_apps %}
                <p>{{ name_app.name }}</p>
                <p>{{ name_app.content }}</p>
                <p> <a href="/{{ name_app.link }}">{{ name_app.link }}</a></p>
        {%  endfor %}
    </div>
        <form class="center">
            <input type="button" value="cofnij" onclick="history.back()">
        </form>
{% endblock %}