{% extends 'base.html' %}
{% block content %}
    <nav class="nav justify-content-center">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/user/{{user.id}}/">Sprawdź swoje konto</a></li>
            <li class="nav-item"><a class="nav-link active" href="/apps/{{ user.id }}">Twoje moduły</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Płatności</a></li>
            </ul>

    </nav>

{% endblock %}
{% block inside %}
    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">GDZIE MÓJ HAJS!</h4>
{% endblock %}