{% extends 'base.html' %}

{% block header %}

    <p>Twoje konto</p>
{% endblock %}

{%  block content %}
    <nav class="nav justify-content-center">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/user/{{user.id}}/">Sprawdź swoje konto</a></li>
            <li class="nav-item"><a class="nav-link active" href="/apps/{{ user.id }}">Twoje moduły</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Płatności</a></li>
            </ul>

    </nav>
{% endblock %}
{%  block inside %}
<style>
        .center_clean {
        margin: auto;
        width: 70%;
        padding: 15px ;
        text-align: left;
        }

</style>
    <div class="center_clean">
        <div class="table-responsive">
             <table class="table">
                 <tr>
                <td>Nick: </td>
                <td> {{ user.username }}</td>
                </tr>
                  <tr>
                <td>E-mail</td>
                <td>{{ user.email }}</td>
                </tr>
                 <tr>
                <td>Firma: </td>
                <td> {{ user.userprofile.company }}</td>
                </tr>

             </table>

            <p class="center">
            Aby edytować konto kliknij <a href="/edit_profile/">tu</a>
            <br>
            </p>
   </div>
        <form class="center">
            <input type="button" value="cofnij" class="btn btn-elegant" onclick="history.back()">
        </form>
{% endblock %}