{% extends 'base.html' %}
{% block header %}

    <p>Panel Użytkownika</p>
{% endblock %}

{% block content %}
    <nav class="nav justify-content-center">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="/user/{{user.id}}/">Sprawdź swoje konto</a></li>
            <li class="nav-item"><a class="nav-link active" href="/apps/{{ user.id }}">Twoje moduły</a></li>
              <li class="nav-item"><a class="nav-link active" href="#">Płatności</a></li>
            </ul>

    </nav>
{% endblock %}
